@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{
		display: none;
		margin-top:0;
	}

    .navbar .nav-item:hover .dropdown-menu{
		display: block;
	}
}

.required:before {
    content:"* ";
    color:red;
}

.square {
    align-items: center;
    background-position: center;
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 2.375rem;
}

.card a {
    height: 100%;
    width: 100%;
}

.deleteImage {
    width: 20px;
    height: 20px;
}

.settings-menu .dropdown-menu {
    right: 0;
    left: unset;
}

.settings-menu .fa-fw {
    margin-right: 10px;
}

code {
    font-family: monospace;
    text-align: left;
}

pre code {
    display: inline;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    border: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    font-size: 100%;
    border-radius: 6px;
    font-family: Consolas,monospace;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: whitesmoke;
    border-radius: 6px;
    word-wrap: normal;
    margin-top: 0;
    margin-bottom: 16px;
    width: fit-content;
    display: inline-flex;
}